      <div class="login-element" fxLayout="row" fxLayoutAlign="center">
        <div class="login-container" fxFlex="40%">
 
            <!-- Template Header starts -->
            <div class="login-box-header">
                Sign In
            </div>
            <!-- Template Header ends -->
 
            <!-- Template Body starts -->
            <div class="login-box-body">
                <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
 
                <!-- Markup for getting Username starts -->
                  <div fxLayout="row">
                      <div fxFlex="50pt">
                        <mat-icon>lock</mat-icon>
                      </div>
                      <div fxFlex="100%">
                        <mat-form-field>
                            <input matInput placeholder="Username" text="text" formControlName="username">
                        </mat-form-field>
                      </div>
                  </div>
                <!-- Markup for getting Username ends -->
 
                <!-- Markup for getting Password starts -->
                <div fxLayout="row">
                      <div fxFlex="50pt">
                        <mat-icon>remove_red_eye</mat-icon>
                      </div>
                      
                      <div fxFlex="100%">
                        <mat-form-field>
                            <input matInput placeholder="Password" text="password" formControlName="password">
                        </mat-form-field>
                      </div>
                </div>
                <!-- Markup for getting Password ends -->
 
                <button mat-raised-button class="login-button"> 
                    <mat-icon>input</mat-icon> Login
                </button>

              </form>
            </div>
            <!-- Template Body ends -->
            
        </div>
      </div>
    <!-- Writing markup for login ends -->
